body{
    background-color:#76a6f5;
    height: auto;
    width:100%;
    background-size: cover;
}

.col-md-12{
    background-color:#f5f5f5;
    margin-top: 4em;
    margin-bottom: 4em;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: auto;
    font-family: 'Patrick Hand SC', cursive;
    box-shadow: 10px 10px 5px grey;
}

a:hover{
    text-decoration: none;
}

h1{
    text-align: center;
    padding-top: 1.5em;
}

.center, .underline{
    font-size: 2rem;
    text-align: center;
}

.underline{
    text-decoration: underline;
}

.left{
    margin-left: 1em;
    font-size: 2rem;
}

li{
    font-size: 2rem;
}

.end{
    padding-bottom: 2em;
}

